*.iml
.gradle/
.idea/
build/
/app/build/
captures/
.externalNativeBuild
.cxx
local.properties

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
/*.xcworkspace
**/xcuserdata/
DerivedData/
Pods/
.DS_Store

google-services.json
GoogleService-Info.plist
key.properties
*.jks